ROOT_REDIR=https://github.com/booky10/modrinth-downloader
API_URL=https://api.modrinth.com
HOST=0.0.0.0
PORT=8080
TRUST_PROXY=false
MODRINTH_API_TOKEN=REPLACE_ME
USER_AGENT=Modrinth Downloader / https://github.com/booky10/modrinth-downloader / contact@example.org
